{% extends 'admin/change_list.html' %}
{% load static %}

{% block responsive%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'magnific/css/magnific-popup.css' %}">
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script
			  src="https://code.jquery.com/jquery-1.12.4.js"
			  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'magnific/js/jquery.magnific-popup.js' %}"></script>
    <script>
    $(document).ready(function() {
  $('.image-link').magnificPopup({type:'image',verticalFit: true,});
});
    </script>
{% endblock %}

{% block pagination%}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/searchbar.js' %}"></script>
{% endblock %}