{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center mt-4 text-info ">
        <h2>Регистрация</h2>
    </div>

    <div class="container d-flex justify-content-between mt-4 ">

        <form action="{% url 'artakiada_form_registration_url' %}" class="was-validated" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}

            <span class="badge badge-pill badge-info mb-3 mt-2">Данные участника:</span>


            <div class="input-group  mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Ф.И.О. участника</span>
                </div>
                {{ form.fio }}
                <input class="form-control" placeholder="Фамилия" name="tmp_fio" required>
                <input class="form-control" placeholder="Имя" name="tmp_fio" required>
                <input class="form-control" placeholder="Отчество" name="tmp_fio" required>

            </div>
            <div class="input-group  mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text " id="">{{ form.level.label }}</span>
                </div>
                {{ form.level }}
            </div>


            <input type="hidden" name="teacher" value="{{ teacher.id }}" id="id_teacher">
            <input type='hidden' name="fio_teacher" value="{{ teacher.fio }}" id="fio_teacher">
            <input type='hidden' name="region" value="{{ teacher.region }}" id="region">
            <input type='hidden' name="city" value="{{ teacher.city }}" id="city">
            <input type='hidden' name="district" value="{{ teacher.district }}" id="district">
            <input type='hidden' name="email" value="{{ teacher.email }}" id="email">


            {% if teacher.status == '1' %}
                <input type='hidden' name="school" value="{{ teacher.school }}" id="school">
            {% else %}

                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text " id="">{{ form.school.label }}</span>
                    </div>
                    {{ form.school }}
                </div>

            {% endif %}
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                <label class="custom-control-label" for="customControlValidation1">Я согласен с <a
                        href="http://cnho.ru/?page_id=8255">условиями</a> конкурса</label>
                <div class="invalid-feedback">Необходимо Ваше согласие</div>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit"
                        onclick="setValueFIO('fio','tmp_fio');"
                        class="btn btn-outline-primary mt-2 mb-4 ">
                    Далее
                </button>
            </div>



        </form>
    </div>
{% endblock %}