{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <div class=""><h3 class="text-center mt-4 mb-5"> Ошибка регистрации</h3>

                <ul class="messages">

                        <div class="alert alert-success col-10 mb-5" role="alert">
                            <p class="{{ message.tags }}">{{ errors }}</p>
                            <p>Возможно, Вы используете устаревший браузер (Internet Explorer,Safari). Для регистрации рекомендуем использовать браузеры FireFox, Google Chrome или YandexBrowser. </p>>
                            <p>Если проблема после смены браузера не решена, обратитесь по адресу volkovas@mioo.ru</p>
                            <div class='row'><a href="{% url 'index' %}"><h6 class="ml-4 mr-5">Выход</h6></a>

                            </div>

                        </div>

                </ul>

        </div>
    </div>
{% endblock %}