{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4 ">
        <div class="row">

            <div class="col-md-6 mb-4 col-lg-4">

                <div class="service-29193 text-center">
                            <span class="img-wrap mb-5">
                            <img src="{% static '/img/artakiada.png' %} " alt="Image" class="img-fluid mb-4">
                            </span>
                    <h5 class="mb-4"
{#                     onclick="set_contest('contest','artakiada')"#}
{#                     data-toggle="modal" data-target="#exampleModal">#}>
                        <a href="#">АРТакиада "Изображение и слово"</a></h5>
                    <p>Очный творческий конкурс юных иллюстраторов. Связь литературы и искусства</p>
                    <p style="color: indianred">Регистрация закрыта</p>
                </div>
            </div>


            <div class="col-md-6 mb-4 col-lg-4 ">
                <div class="service-29193 text-center">
                            <span class="img-wrap mb-5">
                            <img src="{% static '/img/mymoskvichi_300.jpg' %}" alt="Image" class="img-fluid mb-3 mt-4">
                            </span>
                    <h5 class="mb-4" onclick="set_contest('contest','mymoskvichi')"
                        data-toggle="modal" data-target="#exampleModal"><a href="#">Конкурс мультимедия<br>"Мы Москвичи"</a>
                    </h5>
                    <p>Овладение цифровыми технологиями в художественном творчестве</p>
                    <p style="color: indianred">Уважаемые участники!<br>
                        Срок подачи работ и заявок (<a href="http://cnho.ru/my_moskvichi_2019-2020/polozhenie.doc">форма № 1</a>) продлен до 16 марта (включительно)
                    </p>

                </div>
            </div>


            <div class="col-md-6 mb-4 col-lg-4">
                <div class="service-29193 text-center">
                            <span class="img-wrap mb-5">
                            <img src="{% static '/img/nrusheva_200.jpg' %}" alt="Image" class="img-fluid mb-3">
                            </span>
                    <h5 class="mb-4" onclick="set_contest('contest','nrusheva')"
                        data-toggle="modal" data-target="#exampleModal"><a href="#">Московский конкурс детского рисунка
                        им. Нади Рушевой</a></h5>
                    <p>Посвящается художественному отражению юбилейных и граждански значимых событий года</p>
                    <p style="color: indianred">Уважаемые участники!<br>
                        Регистрация продлена до 20 марта (включительно)
                    </p>
                </div>
            </div>

        </div>
        <div class="service-29193 text-center">
            При возникновении технических проблем обращайтесь по адресу volkovas@mioo.ru
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Введите Ваши данные</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="was-validated" method="post">

                        {% csrf_token %}
                        <div class="input-group input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                            </div>
                            {{ form.email }}

                        </div>
                        <div class="input-group input-group mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Статус</span>
                            </div>
                            {{ form.status }}

                        </div>
                        <p>Будьте внимательны при внесении данных, они не корректируются</p>
                        <!-- contest -->
                        {{ form.info }}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Далее</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
