{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4 ">
        <div class="row">
            <a href="#">
                <div class="col-md-6 mb-4 col-lg-4"
                     onclick="let el=document.getElementById('contest'); el.value='artakiada'"
                     data-toggle="modal" data-target="#exampleModal">
                    <div class="service-29193 text-center">
                            <span class="img-wrap mb-5">
                            <img src="{% static '/img/artakiada.png' %} " alt="Image" class="img-fluid mb-4">
                            </span>
                        <h5 class="mb-4"><a href="#">АРТакиада "Изображение и слово"</a></h5>
                        <p>Очный творческий конкурс юных иллюстраторов. Связь литературы и искусства</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-6 mb-4 col-lg-4 "
                     onclick="let el=document.getElementById('contest'); el.value='mymoskvichi'"
                     data-toggle="modal" data-target="#exampleModal">
                    <div class="service-29193 text-center">
                            <span class="img-wrap mb-5">
                            <img src="{% static '/img/mymoskvichi_300.jpg' %}" alt="Image" class="img-fluid mb-3 mt-4">
                            </span>
                        <h5 class="mb-4"><a href="#">Конкурс мультимедия<br>"Мы Москвичи"</a></h5>
                        <p>Овладение цифровыми технологиями в художественном творчестве</p>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-6 mb-4 col-lg-4"
                     onclick="let el=document.getElementById('contest'); el.value='nrusheva'"
                     data-toggle="modal" data-target="#exampleModal">
                    <div class="service-29193 text-center">
                            <span class="img-wrap mb-5">
                            <img src="{% static '/img/nrusheva_200.jpg' %}" alt="Image" class="img-fluid mb-3">
                            </span>
                        <h5 class="mb-4"><a href="#">Московский конкурс детского рисунка им. Нади Рушевой</a></h5>
                        <p>Посвящается художественному отражению юбилейных и граждански значимых событий года</p>
                    </div>
                </div>

            </a>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Введите Ваши данные</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="was-validated" method="post">

                        {% csrf_token %}
                        <div class="input-group input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
                            </div>
                            {{ form.email }}

                        </div>
                        <div class="input-group input-group mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">Статус</span>
                            </div>
                            {{ form.status }}

                        </div>
                         <!-- contest -->
                        {{ form.info }}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Далее</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
