{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center mt-4 text-info ">
        <h2>Регистрация</h2>
    </div>

    <div class="container d-flex justify-content-between mt-4 ">

        <form action="{% url 'mymoskvichi_form_registration_url' %}" class="was-validated" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}

            <span class="badge badge-pill badge-info mb-3 mt-2">Данные участника:</span>

            {{ form.fio }}

            <div class="input-group  mb-2" id="">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Ф.И.О. участника</span>
                </div>

                <input class="form-control" placeholder="Фамилия" name="tmp_fio" required>
                <input class="form-control" placeholder="Имя" name="tmp_fio" required>
                <input class="form-control" placeholder="Отчество" name="tmp_fio" required>

            </div>


            <div class="input-group  mb-3 mt-2">
                <button class="btn  btn-outline-success btn-sm"
                        onclick="main_fio_block.appendChild(fio_block.content.cloneNode(true))">
                    Добавить участника
                </button>
            </div>
            <template id="fio_block">
                <div class="input-group  mb-2" id="fio_sub_block">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Ф.И.О. участника</span>
                    </div>

                    <input class="form-control col-4" placeholder="Фамилия" name="tmp_fio" required>
                    <input class="form-control col-4" placeholder="Имя" name="tmp_fio" required>
                    <input class="form-control col-4" placeholder="Отчество" name="tmp_fio" required>
                    <button class='btn btn-sm btn-danger delete-button-block-fio'
                            onclick="fio_sub_block.remove()">&#10006
                    </button>

                </div>
            </template>
            <div id="main_fio_block">
            </div>





            <div class="input-group  mr-4 mb-4 mt-5 " id="">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Номинация</span>
                </div>
                {{ form.theme }}
                {{ form.theme_extra }}
            </div>
            <div class="input-group  mb-4 ">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="">Название</span>
                        </div>
                {{ form.author_name }}
            </div>


            <input type="hidden" name="teacher" value="{{ teacher.id }}" id="id_teacher">
            <input type='hidden' name="region" value="{{ teacher.region }}" id="region">
            <input type='hidden' name="city" value="{{ teacher.city }}" id="city">
            <input type='hidden' name="district" value="{{ teacher.district }}" id="district">
            <input type='hidden' name="email" value="{{ teacher.email }}" id="email">


            {% if teacher.status == '1' %}
                <input type='hidden' name="school" value="{{ teacher.school }}" id="school">

                <template id="fio_teacher_block">
                    <div class="input-group  mb-2" id="fio_teacher_sub_block">

                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Ф.И.О. педагога</span>
                        </div>

                        <input class="form-control col-4" placeholder="Фамилия" name="tmp_fio_teacher" required>
                        <input class="form-control col-4" placeholder="Имя" name="tmp_fio_teacher" required>
                        <input class="form-control col-4" placeholder="Отчество" name="tmp_fio_teacher" required>
                        <button class='btn btn-sm btn-danger delete-button-block-fio'
                                onclick="fio_teacher_sub_block.remove()">&#10006
                        </button>

                    </div>
                </template>

                <div id="main_fio_teacher_block">
                    <input type='hidden' name="fio_teacher" value="{{ teacher.fio }}" id="fio_teacher">
                    <div class="input-group  mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id="">Педагог</span>
                        </div>

                        <input type="text" value="{{ teacher.fio }}" class="form-control col-5" id="tmp_fio_teacher">
                    </div>

                </div>

                <div class="input-group  mb-3 mt-2">
                    <button class="btn  btn-outline-success btn-sm"
                            onclick="main_fio_teacher_block.appendChild(fio_teacher_block.content.cloneNode(true))">
                        Добавить педагога
                    </button>
                </div>
                <div class="custom-control custom-checkbox mb-3 mt-4">
                    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                    <label class="custom-control-label" for="customControlValidation1">Я согласен с
                        <a target="_blank" href="http://cnho.ru/?page_id=8232">условиями</a> конкурса</label>
                    <div class="invalid-feedback">Необходимо Ваше согласие</div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit"
                            onclick="setValueFIO('fio','tmp_fio');setValueFIO('fio_teacher','tmp_fio_teacher')"
                            class="btn btn-outline-primary mt-2 mb-4 ">
                        Отправить
                    </button>
                </div>

            {% else %}

                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text " id="">{{ form.school.label }}</span>
                    </div>
                    {{ form.school }}
                </div>
                <input type='hidden' name="fio_teacher" value="{{ teacher.fio }}" id="fio_teacher">
                <div class="custom-control custom-checkbox mb-3 mt-4">
                    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                    <label class="custom-control-label" for="customControlValidation1">Я согласен с
                        <a target="_blank" href="http://cnho.ru/?page_id=8232">условиями</a> конкурса</label>
                    <div class="invalid-feedback">Необходимо Ваше согласие</div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit"
                            onclick="setValueFIO('fio','tmp_fio');"
                            class="btn btn-outline-primary mt-2 mb-4 ">
                        Отправить
                    </button>
                </div>

            {% endif %}

        </form>
    </div>
{% endblock %}
%}