{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-center mt-4 text-info ">
        <h2>Регистрация </h2>
    </div>

    <div class="container d-flex justify-content-between mt-4 ">

        <form action="{% url 'teacher_form_registration_url' %}" class="was-validated" method="POST"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% if status == '1' %}

                <span class="badge badge-pill badge-info mb-3 mt-2">Педагог:</span>


                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Ф.И.О. педагога</span>
                    </div>
                    {{ form.fio }}
                    <input class="form-control" placeholder="Фамилия" name="tmp_fio" required>
                    <input class="form-control" placeholder="Имя" name="tmp_fio" required>
                    <input class="form-control" placeholder="Отчество" name="tmp_fio" required>

                </div>

                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text " id="">{{ form.region.label }}</span>
                    </div>

                    {{ form.region }}
                    {{ form.district }}
                    {{ form.city }}
                </div>

                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text " id="">Образовательная организация</span>
                    </div>
                    {{ form.school }}
                </div>

                {% if contest == 'artakiada' %}
                    <div class="input-group  mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text " id=""> Количество участников первого тура</span>
                        </div>
                        {{ form.info }}
                    </div>
                {% endif %}


                <div class="input-group  mb-4">

                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">{{ form.position.label }}</span>
                    </div>
                    {{ form.position }}
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Ваша {{ form.age.label|lower }}</span>
                    </div>
                    {{ form.age }}

                </div>
                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">{{ form.phone.label }}</span>
                    </div>
                    {{ form.phone }}

                    <input type="hidden" value="{{ email }}" name="email" id="email">
                    <input type="hidden" value="{{ status }}" name="status" id="id_status">

                </div>
            {% else %}
                {#                -----if not teacher----------#}
                <span class="badge badge-pill badge-info mb-3 mt-2">Представитель:</span>
                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Ф.И.О.</span>
                    </div>
                    {{ form.fio }}
                    <input class="form-control" placeholder="Фамилия" name="tmp_fio" required>
                    <input class="form-control" placeholder="Имя" name="tmp_fio" required>
                    <input class="form-control" placeholder="Отчество" name="tmp_fio" required>
                </div>
                <div class="input-group  mb-4">
                    <div class="input-group-prepend">
                        <span class="input-group-text " id="">{{ form.region.label }}</span>
                    </div>

                    {{ form.region }}
                    {{ form.district }}
                    {{ form.city }}
                </div>
                <input type="hidden" value="{{ email }}" name="email" id="email">
                <input type="hidden" value="{{ status }}" name="status" id="id_status">
            {% endif %}
            <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                    <label class="custom-control-label" for="customControlValidation1">Согласие на обработку персональных данных </label>
                    <div class="invalid-feedback">Необходимо Ваше согласие</div>
                </div>
            <div class="d-flex justify-content-end">
                <button type="submit" onclick="setValueFIO('fio','tmp_fio',3,this)" class="btn btn-outline-primary mt-2 mb-4 ">
                    Отправить
                </button>
            </div>

        </form>
    </div>




{% endblock %}
